li {
  list-style-type: none;
  display: inline-block;
}
body {
  background-color: green;
}
.container {
  width: 100%;
}
#current-hand {
  text-align: center;
  color: white;
}
#result {
  text-align: center;
  color: white;
}
.table {
  text-align: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
#players_1 {
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  /*padding: 10px;*/
}
.dealer-cards {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/*#hit {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;

}*/
.buttons {
  width: auto;
  text-align: center;
}
