li {
  list-style-type: none;
  display: inline-block;
}
body {
  background-color: green;
}
.container {
  width: 100%;
}
#current-hand {
  text-align: center;
  color: white;
}
#result {
  text-align: center;
  color: white;
}
.table {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
#hit {
  text-align: center;
}
