* {
  margin: 0;
  padding: 0;
}

h2, ul, .buttons {
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
  margin: 1em .25em;
}

button {
  padding: .5em;
}
body {
  background-color: green;
}
#result {
  text-align: center;
  color: white;
}
#current-hand {
  text-align: center;
  color: white;
}
